@import '../../styles/constants.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

$logoRadius: 80px;

.header
{
    position: fixed;
    overflow: hidden;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    $top: var(--menu-top, 0);

    @include fullPage();

    video
    {
        position: absolute;
        transform: translateY(var(--video-top, 0));
        transition: transform .1s ease;
        left: 0;
        @include fullPage();
        object-fit: cover;
    }

    .rh5v-Overlay_component
    {
        display: none;
    }

    .header-content-wrapper
    {
        position: fixed;
        top: 0;
        left: 0;

        transform: translateY($top);
        transition: all .3s ease-in-out;
    }

    .header-content
    {
        display: flex;
        overflow: hidden;

        width: max-content;
        max-height: 160px;
        margin-right: auto;
        margin: 0 auto 10px 2vw;
        padding-right: 20px;

        background-color: rgba($mainOrange, .7);
        border-radius: 0 0 $logoRadius $logoRadius;
    }

    .logo-wrapper
    {
        flex: 0 0 auto;
    }

    .logo
    {
        width: 160px;
        height: 160px;
    }

    .title-name,
    .title-type,
    .title-city
    {
        font-family: 'Bree Serif', serif;

        margin: 0;

        white-space: nowrap;
    }

    .title-name
    {
        font-size: 4em;
    }

    .menu
    {
        position: relative;
        display: flex;
        flex-direction: column;

        margin-left: calc(2vw + 70px);

        a
        {
            display: inline-block;
            position: relative;
            left: 0;

            margin-right: 16px;
            padding: 0 5px;

            font-size: 2em;
            color: $mainOrange;
            text-shadow: 0 0 2px black;
            text-decoration: none;
            border-radius: 3px;
            cursor: pointer;

            transition: all .1s ease-in-out;

            &:hover
            {
                transform: translateX(72px) scale(1.4);
            }
        }
    }
}

@media (max-width: $tabletWidth) {
    .header
    {
        .header-content-wrapper
        {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            margin: 0;
        }

        .header-content
        {
            border-radius: 0;
            margin: 0;
            width: 100%;
            max-height: none;
        }

        .logo
        {
            width: 130px;
            height: 130px;
        }

        .title-name
        {
            font-size: 3em;
        }

        .title-type,
        .title-city
        {
            font-size: 1.2em;
        }

        .menu
        {
            margin: 10px;

            a
            {
                font-size: 2em;

                &:hover
                {
                    transform: none;
                }
            }
        }
    }
}
