@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

$color1: rgba(white, .1);
$color11: rgba(white, .12);
$color2: rgba(black, .01);
$color22: rgba(black, .012);

.about-us
{
    position: relative;

    @include fullPage();

    margin-top: 100vh;
    padding: 100px;

    background: repeating-linear-gradient(
        -45deg,
        $color1,
        $color11 50px,
        $color2 50px,
        $color22 100px
    ), white;

    h1
    {
        font-size: 3em;
        margin: 10px 0;
    }
}

@media (max-width: $tabletWidth) {
    .about-us
    {
        padding: 10px 20px;
    }
}
