.about-us
{
    position: relative;

    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    margin-top: 100vh;
    padding: 100px;

    background-color: white;

    h1
    {
        font-size: 3em;
        margin: 10px 0;
    }
}
